<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<% current_user.items.each do |item| %>
<% end %>


<%= link_to 'Back', :back %>
