<!DOCTYPE html>
<html>
  <head>
    <title>Blocitoff</title>
  </head>
  <body>
    <h1>Blocitoff</h1>
    <p>A self-destructing to-do list to keep you focused on the things that really matter</p>
    <p><%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> Now!</p>

  </body>
</html>
